#hero {
  position: relative;
  background-color: #EEE;
  padding-top: 210px;
  padding-bottom: 210px;
  margin-top: -20px;

  h1 {
    position: relative;
    font-size: 86px;
  }

  p {
    position: relative;
    font-size: 24px;
  }
}